body{
    background-color: rgb(65, 52, 52);
}

.color-hover{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
}
.color {
    width: 100px;
    height: 30px;
    margin: 5px;
}

.red{
    background-color: red
    ;
}

.cyan{
    background-color: cyan;
}

.violet{
    background-color: violet;
}

.orange{
    background-color: orange;
}

.pink{
    background-color: pink;
}